.login{
    background-color: cadetblue;
    font-size: 25px;
}
.container{
margin-top: 100px;
}
.content{
background-color: paleturquoise;
padding: 10px;
border-radius: 6px;
margin-top: 20px;
}
.title{
    margin-left: 5px;
}